@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import 'offcanvas/offcanvas.css';

$phone: 578px;
$tablet: 768px;
$desktop: 1280px;
$primary-space: 120px;
$primary-color: #146EF5;
$hover-primary: #5d9eff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #000;
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-size: 16px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

h2 {
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  font-family: "Urbanist", serif;
  margin-bottom: 20px;

  @media (width > $tablet) {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 30px;
  }

  @media (width > $desktop) {
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 40px;
  }

}

h3 {
  font-weight: 300;
  font-size: 26px;
  line-height: 30px;
  margin-bottom: 10px;

  @media (width > $tablet) {
    font-szie: 32px;
    line-height: 38px;
    margin-bottom: 20px;
  }

  @media (width > $desktop) {
    font-size: 40px;
    line-height: 55px;
    margin-bottom: 30px;
  }
}

h4 {
  font-family: "Urbanist", serif;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 20px;
  font-weight: 900;
}

p {
  font-size: 18px;
  line-height: 31px;
  font-weight: 400;
}

section {
  padding-block: calc($primary-space / 3);

  &:not(.hero-section) {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.2s ease-out, transform 0.8s ease-out;

    &.in-view {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @media (width > $tablet) {
    padding-block: calc($primary-space / 2);
  }

  @media (width > $desktop) {
    padding-block: $primary-space
  }
}

.center {
  text-align: center;
}

.container {
  width: 1290px;
  margin: auto;
  max-width: 100%;
  padding-inline: 0.5rem;

  @media (width > $desktop) {
    padding-inline: 0;
  }
}

.custom-link {
  position: relative;
  display: inline-block;
  color: #146EF5;
  text-decoration: none;
  font-weight: 600;

  &:hover {
    svg {
      transform: translateX(6px);
    }
  }

  svg {
    position: relative;
    top: 2px;
    transition: transform .2s;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-block: 20px;
  background-color: #fff;
  z-index: 2;
  transition: box-shadow .2s ease-in-out, padding .2s ease-in-out;

  &--active {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding-block: 10px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.main-nav ul {
  display: none;
}

@media (width > 768px) {
  .main-nav {
    > button {
      display: none;
    }

    > ul {
      display: flex;
      gap: 3.2rem;
      list-style: none;
      padding: 0;

      li {
        display: flex;
        position: relative;

        &.has-submenu {
          &::after {
            content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none"><path d="M7.42 9.09L12 13.67L16.59 9.09L18 10.5L12 16.5L6 10.5L7.42 9.09Z" fill="%23080808"/></svg>');
            display: inline-block;
            width: 24px;
            height: 24px;
          }

          &:hover {
            ul {
              display: block;
            }
          }

          ul {
            display: none;
            background-color: #fff;
            padding: 0.5rem;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            min-width: 200px;
            position: absolute;
            top: 24px;

            a {
              display: block;
              padding: 0.5rem;
            }
          }
        }

        a {
          text-decoration: none;
          font-weight: 600;
          line-height: 24px;
          color: #080808;
          transition: color 0.2s ease-in-out;

          &.current {
            color: $primary-color;
          }

          &:hover, &:focus {
            color: $primary-color;
            text-decoration: underline;
          }
        }
      }
    }


  }
}

.hero-section {
  padding-bottom: 0;

  .container {
    @media (width > $tablet) {
      display: flex;
      align-items: center;
      gap: 2rem;
      padding-bottom: 60px;
    }
  }

  &__content {
    max-width: 627px;

    p {
      max-width: 518px;
    }
  }
}

.grey-section {
  background-color: #F2F2F2;
}

.direct-links-section {
  text-align: center;
  padding-bottom: 80px;

  h2 + p {
    max-width: 594px;
    margin-inline: auto;
    margin-bottom: 80px;
  }

  img {
    width: 841px;
    margin-inline: auto;
    margin-bottom: 50px;
  }
}

.share-bar {
  border: 1px solid #C0C0C0;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border-radius: 10px;
  width: 850px;
  max-width: 100%;
  margin-inline: auto;
  align-items: center;
  margin-bottom: 35px;
  gap: 1rem;
  position: relative;

  @media (width > $tablet) {
    gap: 0;
    flex-direction: row;
    padding: 14px 16px 14px 30px;
  }

  &__dots {
    display: none;
    margin-right: 30px;
    gap: 10px;

    @media (width > $desktop) {
      display: flex;
    }

    &::before,
    &::after {
      width: 20px;
      height: 20px;
      border-radius: 10px;
      display: block;
      content: '';
      animation: backgroundColorChange 5s infinite alternate;
    }

    &::after {
      animation-delay: 2s;
    }
  }

  &__input {
    background-color: #fff;
    flex: 1 1 auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    border-radius: 4rem;
    text-align: left;
    border: 1px solid #C0C0C0;
    padding: 13px 16px;
    display: flex;
    white-space: nowrap;
    max-width: 100%;
    width: 100%;
    overflow: hidden;

    @media (width > $tablet) {
      padding: 13px 30px;
      font-size: 20px;
      line-height: 24px;
      width: auto;
      max-width: unset;
    }
  }

  &__link {
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #146EF5;
    border-radius: 24px;
    top: 0.5rem;
    right: 0.5rem;
    position: absolute;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: $hover-primary;
    }

    svg {
      width: 24px;
      height: 24px;
      fill: #fff;
    }

    span {
      display: none;
    }

    @media (width > $tablet) {
      margin-left: 10px;
      position: relative;
      top: unset;
      right: unset;
      width: auto;
      height: auto;
      color: #fff;
      text-transform: uppercase;
      display: block;
      line-height: 52px;
      border-radius: 4rem;
      font-weight: 600;
      font-size: 20px;
      text-decoration: none;
      padding-inline: 27px;

      span {
        display: block;
      }

      svg {
        display: none;
      }
    }
  }
}

@keyframes backgroundColorChange {
  0% {
    background-color: #fff;
  }

  50% {
    background-color: $primary-color;
  }

  100% {
    background-color: #C0C0C0;
  }
}

.section-qr-code {
  padding-bottom: 0;

  &__content {
    max-width: 630px;

    p:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  .container {
    @media (width > $tablet) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;
      padding-bottom: 60px;
    }
  }
}

.embed-section {
  padding-top: 40px;
  padding-bottom: 80px;

  h2 {
    + p {
      max-width: 623px;
      margin-inline: auto;

      strong {
        display: block;
        text-align: center;
      }
    }
  }
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin-bottom: 40px;
  gap: 35px;
  list-style: none;
  margin-top: 25px;

  @media (width > $tablet) {
    margin-top: 50px;
  }

  @media (width > $desktop) {
    margin-top: 150px;
  }

  &__button {
    border: 1px solid #C0C0C0;
    display: inline-flex;
    align-items: center;
    border-radius: 4rem;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    background-color: transparent;
    padding: 16px 32px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: #146EF5;
      border-color: #146EF5;
    }

    &--active:not(:hover) {
      color: #fff;
      border-color: #146EF5;
      background-color: #146EF5;
    }
  }
}

.tab-content {
  &.hidden {
    display: none;
  }
}

.showcase {
  display: flex;
  flex-direction: column;

  @media (width > $tablet) {
    gap: 120px;
  }

  .container {
    @media (width > $tablet) {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:nth-child(even) {
        flex-direction: row-reverse;
      }
    }
  }

  &__content {
    @media (width > $tablet) {
      &:nth-child(1) {
        max-width: 631px;
      }

      &:nth-child(2) {
        max-width: 628px;
      }

      &:nth-child(3) {
        max-width: 360px;
      }
    }

    h2 + p,
    h3 + p {
      margin-bottom: 2rem;
    }

    + div {
      @media (width > $tablet) {
        min-width: 440px;
        width: 440px;
      }
    }
  }
}

.share-section {
  &__column {
    width: 520px;
    max-width: 100%;
  }

  img {
    margin-bottom: 40px;
  }

  h4 {

  }

  .container {
    @media (width > $tablet) {
      display: flex;
      justify-content: space-between;
      gap: 2rem;
    }
  }
}

.cta {
  background: url("/public/cta-bg.webp") center no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding-block: 160px;

  h2 {
    margin-bottom: 60px;
  }

  a {
    background-color: #146EF5;
    display: inline-flex;
    padding: 15px 30px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    border-radius: 4rem;
    font-size: 24px;
    line-height: 28px;
  }
}

.footer {
  background-color: #080808;

  &__bottom {
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    opacity: 40%;
    padding-bottom: 20px;
  }

  &__social {
    display: flex;
    align-items: center;
    gap: 15px;

    ul {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 10px;
    }

    a {
      color: rgba(255, 255, 255, 0.5);
      text-decoration: none;

      &:hover, &:focus {
        text-decoration: underline;
      }
    }
  }
}

.footer-menus {
  display: flex;
  flex-direction: column;

  @media (width > $phone) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (width > $desktop) {
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 94px;
  }

  &__block {
    margin-block: 15px;

    @media (width > $phone) {
      flex: 50%;
    }

    @media (width > $tablet) {
      margin-block: 30px;
      flex: 33.333333%;
    }

    @media (width > $desktop) {
      flex: auto;
      margin-block: 60px;
    }

    strong {
      color: #fff;
      font-weight: 700;
      line-height: 32px;
      display: block;
      margin-bottom: 10px;
      text-transform: uppercase;
    }

    a {
      display: block;
      color: rgba(255, 255, 255, 0.4);
      font-weight: 600;
      line-height: 30px;
      white-space: nowrap;
      text-decoration: none;
      transition: color 0.2s ease-in-out;

      &:hover, &:focus {
        text-decoration: underline;
        color: rgba(255, 255, 255, 0.7);
      }
    }
  }
}

.typewriter {
  border-right: 2px solid white;
  white-space: nowrap;
  width: 100%;
  animation: blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}